# Environment files (containing secrets)
.env
*.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
ENV/
*.db
sql_app.db

# Dynamic dynamic projects folder
projects/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js build output
.next/
out/
build/
